body{
    text-align: center;
}
div{
    height: 100px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
#box1{
    background-color: blue;
}
#box2{
    background-color:plum;
    height: 200px;
}
#box3{
    background-color: cadetblue;
}
#box4{
    background-color: coral;
}
#box5{
    background-color: cornflowerblue;
}